@model Oglasi.Models.Oglas

@{
    ViewData["Title"] = "Create";
}

<br />
<br />
<br />
<br />

<div class="container">
    <div class="card">
        <div class="card-header">
<h2>Внесете податоци за вашиот оглас</h2>
            </div>
            <div class="card-body">

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="IdOglas" class="control-label"></label>
            <input asp-for="IdOglas" class="form-control" />
            <span asp-validation-for="IdOglas" class="text-danger"></span>
        </div>*@
           
            <div class="form-group">
                <label asp-for="ImeOglas" class="control-label"></label>
                <input asp-for="ImeOglas" class="form-control" />
                <span asp-validation-for="ImeOglas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImeKat" class="control-label"></label>
                <select asp-for="ImeKat" class="form-control" asp-items="ViewBag.ImeKat"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div><h4 class="text-danger">@ViewBag.poraka</h4></div>
            <div class="form-group">
                <input type="submit" value="Креирај оглас" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Листа на огласи</a>
</div>
                </div>
            </div>
        </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
